In [5]:
#Installing and importing initial libraries
#pip install pandas
#pip install matplotlib
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
#Creating a Pipeline fot import Data
def importdata(filename):
    path = "C:\\Users\\Usuario\\Downloads\\Datasets\\"
    return pd.read_csv(path + filename)

In [35]:
#Importing data
df = importdata('yield_df.csv')

In [43]:
#Checking Dataset Format and columns
print(30*'-', 'Shape', 30*'-')
print(df.shape)
print(30*'-', 'Columns', 30*'-')
print(df.columns)
print(30*'-', 'Short description', 30*'-')
print(df.describe())

------------------------------ Shape ------------------------------
(28242, 8)
------------------------------ Columns ------------------------------
Index(['Unnamed: 0', 'Area', 'Item', 'Year', 'hg/ha_yield',
       'average_rain_fall_mm_per_year', 'pesticides_tonnes', 'avg_temp'],
      dtype='object')
------------------------------ Short description ------------------------------
         Unnamed: 0          Year    hg/ha_yield  \
count  28242.000000  28242.000000   28242.000000
mean   14120.500000   2001.544296   77053.332094
std     8152.907488      7.051905   84956.612897
min        0.000000   1990.000000      50.000000
25%     7060.250000   1995.000000   19919.250000
50%    14120.500000   2001.000000   38295.000000
75%    21180.750000   2008.000000  104676.750000
max    28241.000000   2013.000000  501412.000000

       average_rain_fall_mm_per_year  pesticides_tonnes      avg_temp
count                    28242.00000       28242.000000  28242.000000
mean                      1149.05598       37076.909344     20.542627
std                        709.81215       59958.784665      6.312051
min                         51.00000           0.040000      1.300000
25%                        593.00000        1702.000000     16.702500
50%                       1083.00000       17529.440000     21.510000
75%                       1668.00000       48687.880000     26.000000
max                       3240.00000      367778.000000     30.650000

In [44]:
#Visualizing df
df.head()

,Unnamed: 0,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37